@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  /* cursor: none; */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333643;
  background: linear-gradient(116.54deg, #EAEAF1 0.41%, #F1C0C0 23.23%, #F1F1C0 66.8%, #C3F5BA 100%);
  background-attachment: fixed; 
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  align-items: center;
}

:root {
  --color-primary: #EF5D70;

  --fs-shadowTitle: 12rem;
  --fs-shadowTitle-mb: 8rem;
  --fs-lastupdate: 1.1rem;
  --fs-mainPosition: 2.25rem;
  --fs-mainTitle: 7rem;
  --fs-mainTitle-mb: 5rem;
  --fs-endTitle: 5rem;
  --fs-endTitle-mb: 4rem;
  --fs-mainVision: 2rem;

  --fs-sectionTitle: 2rem;
  --fs-sectionTitle-mb: 1.7rem;
  --fs-sectionSubtitle: 1.75rem;
  --fs-sectionSubtitle-mb: 1.5rem;
  --fs-skillsTitle: 1.5rem;

  --fs-aboutBody: 1.2rem;
  --fs-visionTitle: 1.5rem;

  --fs-cardTitle: 1.3rem;
  --fs-skills-cardTitle: 1rem;
  --fs-cardSubtitle: 1rem;
  --fs-cardBody: 1rem;

  --fs-contactTitle: 1.25rem;

  --line-height-mainTitle: 6rem;
  --line-height-endTitle: 5rem;
  --line-height-cardTitle: 1.6rem;
  --line-height-cardSubtitle: 1.35rem;
  --line-height-cardBody: 1.25rem;

  --radius-border-icon: 1.25rem;
  --radius-card-view: 1.8rem;

  --padding-icon-ver: 0.5rem;
  --padding-icon-hor: 0.7rem;
  --padding-card-view-ver: 1.8rem;
  --padding-card-view-hor: 1.8rem;
  --padding-contacts: 0.7rem;
  --padding-fullscreen-section-ver: 0.7rem;
  --padding-fullscreen-section-hor: 0.7rem;
  --padding-contents-section-ver: 5%;
  --padding-contents-section-hor: 15%;
  --padding-contents-section-ver-mb: 3rem;
  --padding-contents-section-hor-mb: 2rem;
  --padding-card-title-div-ver: 0rem;
  --padding-card-title-div-hor: 1rem;

  --diameter-vision-icon: 11.25rem;
  --diameter-vision-icon-mb: 8rem;
  --diameter-skills-icon: 4rem;
  --diameter-skills-icon-mb: 2.5rem;

  --height-skill-bar: 0.7rem;
  --radius-skill-bar: 50px;
  --seconds-skill-animation: 3s;

  --gap-sections: 20rem;
  --gap-contents: 3rem;
  --gap-contents-mb: 1rem;
  --gap-card-view: 1rem;
  --gap-card-contents: 1rem;
  --gap-card-header: 0.8rem;
  --gap-contacts: 2.5rem;
  --gap-contacts-mb: 1rem;
  --gap-etcSkillsIcon: 0.8rem;
  --gap-contents-section: 10rem;
  --gap-card-title-div: 0.5rem;

  --min-width-card-view: 22rem;
  
}

/* remove scroll bar */
::-webkit-scrollbar {
  display: none;
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #EF5D70;
}

ul {
  list-style-type: disc;
  padding-left: 10px;
}

li {
  margin: 5px;
}

b {
  font-weight: 700;
}

#__next {
  /* attached background to be overlayed */
  background: inherit;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.main-container{
  width: 100%;
  height: 100vh;
}

.fullscreen_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-fullscreen-section-ver) var(--padding-fullscreen-section-hor);
  gap: 16px;
  min-height: 100vh;
}

.component-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contentsSection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-contents-section);
  padding: var(--padding-contents-section-ver) var(--padding-contents-section-hor);
}

.componentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.componentTitle .title {
  font-weight: 600;
  font-size: var(--fs-sectionTitle);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.componentTitle .subtitle {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: var(--fs-sectionSubtitle);
  font-style: italic;
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.cardTitleDiv {
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding-card-title-div-ver) var(--padding-card-title-div-ver);
  gap: var(--gap-card-title-div);
  align-self: stretch;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: var(--gap-card-header);
}

.highlightUnderline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #EF5D70;
}

.contents-gap {
  gap: var(--gap-contents);
}

.color-white {
  color: #FFFFFF;
}

#endSection {
  /* attached background to be overlayed */
  background: linear-gradient(116.54deg, #EAEAF1 0.41%, #F1C0C0 23.23%, #F1F1C0 66.8%, #C3F5BA 100%);
  background-attachment: fixed; 
  align-items: center;
}

/* Animation for gsap */
.shadowSunnyDivAni {
  left: 0%;
}

.visionIconDivAni {
  opacity: 0;
}

.etcSkillsIconAni {
  opacity: 0;
}

@media only screen and (max-width: 480px) {

  html {
    /* rem responsive setting */
    font-size: 13px;
  }

  .contents-gap {
    gap: var(--gap-contents-mb);
  }
  
  #contentsSection {
    padding: var(--padding-contents-section-ver-mb) var(--padding-contents-section-hor-mb);
  }

  .componentTitle .title {
    font-size: var(--fs-sectionTitle-mb);
  }
  
  .componentTitle .subtitle {
    font-size: var(--fs-sectionSubtitle-mb);
  }
}