@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* font-size: 16px; */
}
body {
  /* cursor: none; */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333643;
  background: linear-gradient(116.54deg, #EAEAF1 0.41%, #F1C0C0 23.23%, #F1F1C0 66.8%, #C3F5BA 100%);
  background-attachment: fixed; 
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

:root {
  --color-primary: #EF5D70;

  --fs-shadowTitle: 12rem;
  --fs-shadowTitle-mb: 8rem;
  --fs-lastupdate: 1.1rem;
  --fs-mainPosition: 2.25rem;
  --fs-mainTitle: 7rem;
  --fs-mainTitle-mb: 5rem;
  --fs-endTitle: 5rem;
  --fs-endTitle-mb: 4rem;
  --fs-mainVision: 2rem;

  --fs-sectionTitle: 2rem;
  --fs-sectionTitle-mb: 1.7rem;
  --fs-sectionSubtitle: 1.75rem;
  --fs-sectionSubtitle-mb: 1.5rem;
  --fs-skillsTitle: 1.5rem;

  --fs-aboutBody: 1.1rem;
  --fs-visionTitle: 1.5rem;

  --fs-cardTitle: 1.3rem;
  --fs-skills-cardTitle: 1rem;
  --fs-cardSubtitle: 1rem;
  --fs-cardBody: 1rem;

  --fs-contactTitle: 1.25rem;

  --line-height-mainTitle: 6rem;
  --line-height-endTitle: 5rem;
  --line-height-cardTitle: 1.6rem;
  --line-height-cardSubtitle: 1.35rem;
  --line-height-cardBody: 1.25rem;

  --radius-border-icon: 1.25rem;
  --radius-card-view: 1.8rem;

  --padding-icon-ver: 0.5rem;
  --padding-icon-hor: 0.7rem;
  --padding-card-view-ver: 1.8rem;
  --padding-card-view-hor: 1.8rem;
  --padding-contacts: 0.7rem;

  --diameter-vision-icon: 11.25rem;
  --diameter-vision-icon-mb: 8rem;
  --diameter-skills-icon: 4rem;
  --diameter-skills-icon-mb: 2.5rem;

  --height-skill-bar: 0.7rem;
  --radius-skill-bar: 50px;
  --seconds-skill-animation: 3s;

  --gap-sections: 20rem;
  --gap-contents: 2rem;
  --gap-contents-mb: 0rem;
  --gap-card-view: 1rem;
  --gap-card-contents: 1rem;
  --gap-card-header: 0.8rem;
  --gap-contacts: 2.5rem;
  --gap-contacts-mb: 1rem;
  --gap-etcSkillsIcon: 0.8rem;

  --min-width-card-view: 22rem;
  
}

/* remove scroll bar */
::-webkit-scrollbar {
  display: none;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #EF5D70;
}

ul {
  list-style-type: disc;
  padding-left: 10px;
}

li {
  margin: 5px;
}

b {
  font-weight: 700;
}

.main-container{
  width: 100%;
  height: 100vh;
}

/* MainSection */
#mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 40px;
  gap: 16px;
  min-height: 100vh;
}

#mainSection #shadowSunnyDiv {
  position: absolute;
  top: 50%;
  left: 0%;
}

#mainSection #shadowSunnyDiv #shadowSunny {
  position:absolute;
  transform: translate(-50%, -50%);

  font-weight: 900;
  font-size: var(--fs-shadowTitle);
  text-align: center;

  color: #333643;

  background-color: inherit;
  mix-blend-mode: overlay;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  z-index: 0;

}

#mainSection #lastupdateInfoDiv {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 5px;

  position: absolute;
  left: 15%;
  bottom: 5%;

  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  z-index: 4;
}

#mainSection #lastupdateInfo {
  /* Latest update */

  font-weight: 300;
  font-size: var(--fs-lastupdate);
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#mainSection #mainPosition {
  /* Frontend Developer */
  font-weight: 300;
  font-size: var(--fs-mainPosition);

  /* identical to box height */
  text-align: center;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

#mainSection #mainTitle {
  font-weight: 800;
  font-size: var(--fs-mainTitle);

  /* identical to box height */
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  line-height: var(--line-height-mainTitle);

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2; 
}

#mainSection #mainVision {
  /* “Shine brightly like the sunshine” */
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-mainVision);

  /* identical to box height */
  text-align: center;


  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 3;
}

/* Contents Section */
#contentsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
  gap: var(--gap-sections);
}

.componentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.componentTitle .title {
  font-weight: 600;
  font-size: var(--fs-sectionTitle);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.componentTitle .subtitle {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: var(--fs-sectionSubtitle);
  font-style: italic;
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.highlightUnderline {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #EF5D70;
}

.contents-gap {
  gap: var(--gap-contents);
}

/* About */

#aboutComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#aboutComponent .body {
  font-size: var(--fs-aboutBody);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

/* Vision */

#visionDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  justify-content: space-around;
  gap: 10px;
}

#visionDiv .visionIconDiv {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

#visionDiv .visionIconDiv #embraceIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  gap: 5px;

  width: var(--diameter-vision-icon);
  height: var(--diameter-vision-icon);

  background: #F1F1C0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#visionDiv .visionIconDiv #directIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  gap: 5px;

  width: var(--diameter-vision-icon);
  height: var(--diameter-vision-icon);

  background: #F1C0C0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#visionDiv .visionIconDiv #impactIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  gap: 5px;

  width: var(--diameter-vision-icon);
  height: var(--diameter-vision-icon);

  background: #C3F5BA;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#visionDiv .visionIconDiv .title {
  font-weight: 600;
  font-size: var(--fs-visionTitle);

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

/* Skill */

#skillsComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#skillsComponent #skillsWordCloud {
  width: 70%;
}

#skillsComponent #skillsContentsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv {
  display: flex;
  flex: auto;
  padding: 10px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv {
  display: flex;
  flex: auto;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .title {
  color: #333643;
  font-size: var(--fs-skillsTitle);
  font-weight: 400;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-card-view);
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView {
  display: flex;
  padding: var(--padding-card-view-ver) var(--padding-card-view-hor);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-card-contents);
  width: 100%;
  border-radius: var(--radius-border-icon);
  background: rgba(0, 0, 0, 0.20);
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader {
  display: flex;
  align-items: center;

  gap: var(--gap-card-header);
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader .cardIcon {
  width: var(--diameter-skills-icon);
  height: var(--diameter-skills-icon);
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader .cardTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader .cardTitleDiv .title {
  color: #FFF;
  font-size: var(--fs-skills-cardTitle);
  font-weight: 700;
  width: min-content;
}

#skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader .cardTitleDiv .period {
  color: #FFF;
  font-size: var(--fs-cardSubtitle);
  font-weight: 600;
}

#skillsComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .subtitle {
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

#skillsComponent #cardViewDiv .cardView .cardHeader .cardIcon {
  width: var(--diameter-skills-icon);
  height: var(--diameter-skills-icon);
  
  /* border: 10px solid rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
}

#skillsComponent #cardViewDiv .cardView .period {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#skillsComponent #skillsContentsDiv .title  {
  color: #333643;
  font-size: var(--fs-skillsTitle);
  font-weight: 400;
}

#skillsComponent #skillsContentsDiv #etcSkillsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-etcSkillsIcon);
}

.etcSkillsIcon {
  opacity: 0;
  width: var(--diameter-skills-icon);
  height: var(--diameter-skills-icon);
}

.SkillBar {
  width:100%;
  height: var(--height-skill-bar);
  position: relative;
  background: white;
  border-radius: var(--radius-skill-bar);
}
.SkillAni {
  width:0%;
}
.SkillPer {
  height: var(--height-skill-bar);
  position: absolute;
  background-color: var(--color-primary);
  border-radius: var(--radius-skill-bar);
}


/* Education */

#educationComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#educationComponent #cardViewDiv {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: var(--gap-contents);
}

#educationComponent #cardViewDiv .cardView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-card-view-ver) var(--padding-card-view-hor);
  gap: var(--gap-card-view);
  width:100%;
  min-width: var(--min-width-card-view);
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-card-view);  
  align-self: stretch;
  font-weight: 100;
}

#educationComponent #cardViewDiv .cardView .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

#educationComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 5px;
}

#educationComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .title {
  font-weight: 600;
  font-size: var(--fs-cardTitle);
  line-height: var(--line-height-cardTitle);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#educationComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .subtitle {
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

#educationComponent #cardViewDiv .cardView .cardHeader .cardIcon {
  width: 70px;
  height: 70px;
  
  /* border: 10px solid rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
}

#educationComponent #cardViewDiv .cardView .period {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#educationComponent #cardViewDiv .cardView .contents {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

/* Experience */

#experiencesComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: var(--gap-contents);
}

#experiencesComponent #cardViewDiv {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: var(--gap-contents);
}

#experiencesComponent #cardViewDiv .cardView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-card-view-ver) var(--padding-card-view-hor);
  gap: var(--gap-card-view);
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-card-view);  
  align-self: stretch;
  font-weight: 100;
  width:100%;
  min-width: var(--min-width-card-view);
}

#experiencesComponent #cardViewDiv .cardView .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

#experiencesComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 5px;
}

#experiencesComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .title {
  font-weight: 600;
  font-size: var(--fs-cardTitle);
  line-height: var(--line-height-cardTitle);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#experiencesComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .subtitle {
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

#experiencesComponent #cardViewDiv .cardView .cardHeader .cardIcon {
  width: 70px;
  height: 70px;
  
  /* border: 10px solid rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
}

#experiencesComponent #cardViewDiv .cardView .period {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#experiencesComponent #cardViewDiv .cardView .contents {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  align-items: center;

  color: #FFFFFF;
}

#experiencesComponent #cardViewDiv .cardView .tech {
  font-size: var(--fs-cardBody);
  align-items: center;

  color: #FFFFFF;
}

#experiencesComponent #cardViewDiv .cardView .more {
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

/* Project */

#projectsComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: var(--gap-contents);
}

#projectsComponent #cardViewDiv {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: var(--gap-contents);
}

#projectsComponent #cardViewDiv .cardView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-card-view-ver) var(--padding-card-view-hor);
  gap: var(--gap-card-view);
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-card-view);  
  align-self: stretch;
  font-weight: 100;
  width:100%;
  min-width: var(--min-width-card-view);
}

#projectsComponent #cardViewDiv .cardView .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

#projectsComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 5px;
}

#projectsComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .title {
  font-weight: 600;
  font-size: var(--fs-cardTitle);
  line-height: var(--line-height-cardTitle);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#projectsComponent #cardViewDiv .cardView .period {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

#projectsComponent #cardViewDiv .cardView .cardHeader .cardTitleDiv .subtitle {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);

  color: #FFFFFF;
  
  /* identical to box height */

  display: flex;
  align-items: center;
}

#projectsComponent #cardViewDiv .cardView .cardHeader .cardIcon {
  width: 70px;
  height: 70px;
  
  /* border: 10px solid rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
}

#projectsComponent #cardViewDiv .cardView .summary {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

#projectsComponent #cardViewDiv .cardView .contents {
  font-size: var(--fs-cardBody);
  line-height: var(--line-height-cardBody);
  align-items: center;

  color: #FFFFFF;
}

#projectsComponent #cardViewDiv .cardView .tech {
  font-size: var(--fs-cardBody);
  align-items: center;

  color: #FFFFFF;
}

#projectsComponent #cardViewDiv .cardView .more {
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-cardSubtitle);
  line-height: var(--line-height-cardSubtitle);
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

/* EndSection */
#endSection {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 40px;
  gap: 16px;
  min-height: 100vh;

}

#endSection #shadowSunnyDiv {
  position: absolute;
  mix-blend-mode: overlay;
}

#endSection #shadowSunnyDiv #shadowSunny {
  position:sticky;

  font-weight: 900;
  font-size: var(--fs-shadowTitle);
  text-align: center;

  color: #333643;

  background-color: inherit;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;

}

#endSection #scrollUpDiv {
  position:absolute;
  width: 100%;
  height: 100%;

}

#endSection #scrollUpDiv #scrollUp {
  position:absolute;
  bottom: 5%;
  right: 15%;
  transform: translate(-50%, -50%);
  animation: bounce 2s ease infinite;
  color: rgba(0, 0, 0, 0.2);
}

#endSection #scrollUpDiv #scrollUp:hover {
  cursor: pointer;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


#endSection #mainPosition {
  /* Frontend Developer */
  font-weight: 300;
  font-size: var(--fs-mainPosition);

  /* identical to box height */
  text-align: center;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

#endSection #mainTitle {
  font-weight: 800;
  font-size: var(--fs-endTitle);

  /* identical to box height */
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: var(--line-height-endTitle);

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2; 
}

#endSection #contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--padding-contacts);
  gap: var(--gap-contacts);

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  z-index: 3;
}

#endSection #contacts .contactDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--padding-icon-ver) var(--padding-icon-hor);
  gap: 5px;
  
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-border-icon);

  
  color: #FFFFFF;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

#endSection #contacts .contactDiv .icon {
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

#endSection #contacts .contactDiv .title {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-contactTitle);
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}

.pulse {
  animation: pulse 1.5s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

@media only screen and (max-width: 480px) {

  html {
    font-size: 13px;
  }

  .contents-gap {
    gap: var(--gap-contents-mb);
  }

  #mainSection #shadowSunnyDiv #shadowSunny {
    font-size: var(--fs-shadowTitle-mb);
  }

  #mainSection #mainTitle {
    font-size: var(--fs-mainTitle-mb);
  }

  .componentTitle .title {
    font-size: var(--fs-sectionTitle-mb);
  }
  
  .componentTitle .subtitle {
    font-size: var(--fs-sectionSubtitle-mb);
  }

  #contentsSection {
    padding:5%;
  }

  #visionDiv .visionIconDiv #embraceIcon {
    width: var(--diameter-vision-icon-mb);
    height: var(--diameter-vision-icon-mb);
  }
  
  #visionDiv .visionIconDiv #directIcon {
    width: var(--diameter-vision-icon-mb);
    height: var(--diameter-vision-icon-mb);
  }
  
  #visionDiv .visionIconDiv #impactIcon {
    width: var(--diameter-vision-icon-mb);
    height: var(--diameter-vision-icon-mb);
  }

  #skillsComponent #skillsContentsDiv #mainSkillsDiv .twoColDiv .oneColDiv .cardViewDiv .cardView .cardHeader .cardIcon {
    width: var(--diameter-skills-icon-mb);
    height: var(--diameter-skills-icon-mb);
  }

  #endSection #shadowSunnyDiv #shadowSunny {
    font-size: var(--fs-shadowTitle-mb);
  }

  #endSection #mainTitle {
    font-size: var(--fs-endTitle-mb);
  }

  #endSection #contacts {
    gap: var(--gap-contacts-mb);
  }
}