@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";
@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: white;
  --main-pink: #F48B9B;
  --main-darkpink: #F27084;
  --main-yellow: #F4E48A;
  --main-green: #8AF4E4;
  --main-purple: #8A9AF4;
  --main-grey: #606887;
  --main-light-grey: #7E86A4;

  --left-right-margin: 24px;
  --left-right-internal-margin: 24px;
  --top-margin: 10px;
  --top-margin-mobile: 40vh;
  --top-internal-margin: 24px;
  --border-radius: 48px;
  --border: 1.2px;
  --border-radius-content: 0;

  --title-font-size: 2.2rem;
  --subtitle-font-size: 1.8rem;
  --contents-font-size: 1rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.7rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1rem;

  --round-font:  'KCC-Ganpan';
  --solid-font: 'SUIT-Regular';
  
  --r-title-font-size: 2rem;
  --r-subtitle-font-size: 1.5rem;
  --r-contents-font-size: 1rem;
  --r-h1-font-size: 1.1rem;
  --r-h2-font-size: 1rem;
  --r-h3-font-size: 0.9rem;
  --r-h4-font-size: 0.8rem;
  --r-h5-font-size: 0.7rem;

  --left-right-internal-margin: 24px;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-pink);
  color: var(--foreground-rgb);
  -ms-overflow-style: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* remove scroll bar */
::-webkit-scrollbar {
  display: none;
}

*{
  font-family: var(--round-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.solid-font {
  font-family: var(--solid-font);
}
.main-container{
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
}
.navigator-dots {
  position: fixed;
  right: 3%;
  top: 45%;
}
.navigator-dots .dots {
  cursor: pointer;
  margin: 1rem;
  transition: 0.5s;
}
.navigator-dots .dots:hover {
  color: var(--main-darkpink);
}
#home{
  background: linear-gradient(to bottom, var(--main-pink), var(--main-yellow));
  }

#belief{  
  background: linear-gradient(to bottom, var(--main-yellow), var(--main-green));
} 
#projects{
  background: linear-gradient(to bottom, var(--main-green), var(--main-purple));
}
#carousel-container {
  width: 70%;
}
#contact{
  background: linear-gradient(to bottom, var(--main-purple), var(--main-pink));
}
#contact .icon-box{
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
/* section .slide{
  margin: 100px;
} */
section h1{
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
   justify-content: center;
}
section .text-container .text-box{
  padding: 20px;
}
section .text-container .text-box h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal{
  width: 80%;
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.box {
  width: 10rem;
  height: 10rem;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;  
}

.box.active {
  width: 20rem;
  background: #f03d3d;
  color: #fff;
}

#navbar {
  position: fixed;
  z-index: 999;
}

.nav-btn{
  cursor: pointer;
}

#logo-container {
  width: 100%;
  padding-left: 10%;
  margin-top: 4rem;
  margin-left: 1%;
}

#contact #logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 8rem;
  margin-left: 0px;
}

#contact #logo {
  transform: scale(2);
}

#contact #logo-text {
  cursor: auto;
  position: fixed;
  margin-left: 0px;
  height: 100%;
  margin-top: 27px;
  text-align: center;
}


#logo-icon {
  z-index: -1;
  width: 10rem;
}

#logo-text {
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -95px;
}

#logo-text #txt-sunny {
  font-size: 45px;
}

#logo-text #txt-world {
  font-size: 45px;
  margin-top: -35px;
}

#main-text-container {
  font-weight: 800;
  font-size: 45px;
  z-index: 999;
}

#main-text-container #main-text {
  margin-right: 190px;
  margin-top: auto;
  margin-bottom: auto;
}

#main-text-container #main-text-name {
  text-align: center;
  font-size: 55px;
}

#main-text-container #main-text-name  #main-text-name-sub {
  margin-top: -28px;
  font-size: 40px;
}
#main-img {
  margin-top: -60px;
  width: 400px;
}

#sub-text-title {
  font-size: var(--title-font-size);
  font-weight: 800;
}
#sub-text-detail {
  font-size: var(--h4-font-size);
}
#sub-text-detail #highlight {
  font-size: var(--h3-font-size);
  font-weight: 800;
  color: var(--main-darkpink);
}

/* Belief */
#belief .text-container .text-box {
  color: var(--main-grey);
  border-radius: 15px;
  width: 25%;
  margin: 10px;
}
#belief .text-container .text-box:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
#belief .text-container .text-box .icon-box{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--main-pink);
  box-shadow: 5px 7px 5px 1px var(--main-darkpink);
}
#belief .text-container .text-box .text-title{
  font-family: var(--solid-font);
  color: var(--main-grey);
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: 600;
}
#belief .text-container .text-box .text-description{
  font-family: var(--solid-font);
  text-align: center;
  font-size: var(--contents-font-size);
  font-weight: 200;
}


/* Projects */
.projects {
  display: flex;
  flex-direction: row;
  padding: var(--top-margin) 4% 0 4%;
}
.projects-left {
  position: relative;
  width: 50%;
  padding-top: 50px;
  padding-right: var(--left-right-internal-margin);;
}
.projects-show {
  transition: 1s;
  opacity: 1 !important;
}
.projects-arrow {
  float: right;
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(20%);}
	60% {transform: translateX(10%);}
}
.projects-right {
  width: 50%;
  padding: 0 0 0 var(--left-right-internal-margin);
  display: flex;
  flex-direction: column;
}
.projects-contents-wrapper {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 0 var(--border-radius) 0 0;
  transform: translateZ(0);
  padding-right: 5%;
}
.page-head {
  display: flex;
  align-items: baseline;
  padding-top: 12px;
  border-bottom: var(--border) solid var(--main-light-grey);
}
.page-head .page-title {
  width: 100%;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.page-head .elements-number {
  letter-spacing: -.1em;
}
.projects-list {
  margin-top: var(--top-margin);
}
.projects-right ul .projects-row {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: var(--border) solid var(--main-grey);
}
.projects-right ul .projects-row-left {
  display: flex;
  align-items: center;
  width: 80%;
  text-overflow: ellipsis;
}
.projects-right ul .projects-row-left .projects-selected-wrapper {
  position: absolute;
  overflow: hidden;
}
.projects-right ul .projects-row-left .projects-selected-wrapper .projects-selected {
  padding-right: 12px;
  position: relative;
  transform: translateX(-100%) translateZ(0px);
}
.projects-right ul .projects-row-left .projects-selected-wrapper .projects-selected-transform {
  padding-right: 12px;
  position: relative;
  transform: translateX(0%) translateZ(0px);
	transition: all 800ms cubic-bezier(.47,1.64,.41,.8);
}
.projects-right ul .projects-row-left .projects-title{
  font-family: var(--solid-font);
  font-weight: 800;
  font-size: var(--h3-font-size);
}
.projects-right ul .projects-row-right .projects-category{
  font-family: var(--solid-font);
  font-size: var(--h5-font-size);
}

.projects-right ul .projects-row-left .projects-title-transform {
  font-family: var(--solid-font);
  font-weight: 800;
  font-size: var(--h3-font-size);
  transform: translateX(24px) translateZ(0px);
	transition: all 800ms cubic-bezier(.47,1.64,.41,.8);
}
.projects-right ul .projects-row-right, .projects-right ul .projects-row-right .projects-category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.project-info {
  margin: 10px;
  color: black;
  padding: 20px;
}
.project-info:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* border: var(--main-grey) solid 1px; */
}
.project-year {
  font-family: var(--solid-font);
  width: fit-content;
  font-size: var(--h2-font-size);
  border-bottom: #c5c5c5 solid 1px;
  color: #929292;
}
.project-dur {
  font-family: var(--solid-font);
  font-size: var(--h1-font-size);
  font-weight: 500;
}
.project-category {
  font-family: var(--solid-font);
  font-size: var(--h4-font-size);
  color: #f76540;
  font-weight: 600;
}
.project-title {
  font-family: var(--solid-font);
  font-size: var(--title-font-size);
  font-weight: 800;
  margin: 20px 0px 20px;
}
.project-content {
  font-family: var(--solid-font);
  font-size: var(--h5-font-size);
  color: var(--main-grey);
  margin-bottom: 1.2rem;
}
.project-type {
  font-family: var(--solid-font);
  font-size: var(--h5-font-size);
  font-weight: 600;
}
.project-type-position {
  font-family: var(--solid-font);
  font-size: var(--h5-font-size);
  font-weight: 100;
}

.contact-content {
  margin-top: var(--top-internal-margin);
  display: flex;
  flex-direction: row;
}
.contact-content .contact-left, .contact-content .contact-right {
  width: 50%;
  margin-bottom: 24px;
}
.link-wrapper .link {
  display: flex;
  align-items: center;
}

table td h6 {
  padding-right: var(--left-right-internal-margin);
  text-overflow: ellipsis;
  overflow-x: clip;
}

h6 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--h1-font-size);
  font-family: var(--solid-font);
}

table tr:last-child td {
  width: 50%;
  vertical-align: top;
  padding: 0 var(--left-right-internal-margin) 0 0;
}


@media (max-width: 900px){
  section h1{
    font-size: var(--r-title-font-size);
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
  #logo-container {
    padding-left: 0;
    margin-top: 3rem;
  }
  #logo-icon {
    width: 5rem;
  }
  #logo-text {
    margin-left: -45px;
  }
  #logo-text #txt-sunny {
    font-size: 20px;
  }
  
  #logo-text #txt-world {
    font-size: 20px;
    margin-top: -15px;
  }
  
  #main-text-container {
    font-size:28px;
  }
  
  #main-text-container #main-text {
    margin-right: 40px;
  }
  
  #main-text-container #main-text-name {
    font-size: 35px;
  }
  
  #main-text-container #main-text-name  #main-text-name-sub {
    margin-top: -17px;
    font-size: 23px;
  }
  #main-img {
    margin-top: -20px;
    width: 200px;
  }
  #sub-text {
    padding: 0px 1rem;
  }
  #sub-text-title {
    font-size: var(--r-subtitle-font-size);
    font-weight: 800;
  }
  #sub-text-detail {
    font-size: var(--r-h4-font-size);
  }
  #sub-text-detail #highlight {
    font-size: var(--r-h3-font-size);
  }
  
  #belief .text-container .text-box {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
  #belief .text-container .text-box .icon-box{
    margin: 0px auto 1rem;
    width: 30%;
    box-shadow: 3px 5px 5px 1px var(--main-darkpink);
  }
  #belief .text-container .text-box .text-title{
    font-size: var(--r-h3-font-size);
  }
  #belief .text-container .text-box .text-description{
    font-size: var(--r-h5-font-size);
    padding-left: 10%;
    padding-right: 10%;
  }

  .page-head .page-title{
    font-size: var(--r-title-font-size);
  }
  .projects-right ul .projects-row {
    padding: 1rem 0;
  }
  .projects-right ul .projects-row-left .projects-title{
    font-size: var(--r-h3-font-size);
  }
  .projects-right ul .projects-row-right .projects-category{
    font-size: var(--r-h5-font-size);
  }
  .projects-left {
    display: none;
  }
  .projects-right {
    width: 100%;
    padding: 0px;
  }
  .project-year {
    font-size: var(--r-h3-font-size);
  }
  .project-dur {
    font-size: var(--r-h2-font-size);
  }
  .project-category {
    font-size: var(--r-h5-font-size);
  }
  .project-title {
    font-size: var(--r-title-font-size);
  }
  .project-content {
    font-size: var(--r-contents-font-size);
  }
  .project-type {
    font-size: var(--r-h5-font-size);
  }
  .project-type-position {
    font-size: var(--r-h5-font-size);
  }

  .contact-content {
    flex-direction: column;
  }
  .contact-content .contact-left, .contact-content .contact-left {
    width: 100%;
  }
  .contact-content .contact-left, .contact-content .contact-right {
    width: 100%;
  }
  table tr:last-child td {
    padding: 0;
  }
  h6 {
    font-size: var(--r-h1-font-size);
  }
  
}
